
.jumbotron {
    background-color: transparent;
    color: whitesmoke;
    text-align: center;
    margin: auto;
    margin-top: 12rem;
    width: 50%;
}

body {
    background-image: url("./assets/leaves.jpg");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}