				<!-- Additional Elements -->
                <section class="wrapper style1 align-center">
                    <div class="inner">
                        <h2>Work Experience</h2>
                        <hr />
                        <div class="index align-left">
                            <!-- Heading -->
                                <section>
                                    <header>
                                        <h3>Capital One</h3>
                                    </header>
                                    <div class="content">

                                        <header>
                                            <h3>Senior Associate Software Engineer</h3>
                                            <p>February 2022 - Present</p>
                                        </header>
                                        <ul>
                                            <li>Developing Golang REST APIs hosted on AWS Lambda and Fargate as an abstraction to the Card business’s financial core</li>
                                            <li>Built a posted transactions data pipeline using managed EMR with Spark</li>
                                        </ul>

                                        <hr />

                                        <header>
                                            <h3>Associate Software Engineer</h3>
                                            <p>August 2020 - February 2022</p>
                                        </header>
                                        <ul>
                                            <li>Built full stack automated, dynamic statement generating applications using Python, Golang, and AWS RDS, Lambda, and S3</li>
                                            <li>Deployed and hosted thoroughly unit and integration tested apps to cloud CI/CD environment</li>
                                            <li>Developed dynamic frontend web applications following ADA-compliance standards</li>
                                            <li>Built full stack React feature enabling customers to view their loan transaction history online</li>
                                            <li>Built real-time user activity tracking features that fed into custom dashboards of KPIs </li>
                                            <li>Developed backend web applications and APIs in Java and Golang</li>
                                            <li>Developed search capabilities for internal documentation using web-scraping, document indexing, keyword collection, and ElasticSearch</li>
                                            <li>Built full stack project management site with GraphQL, Angular, JS/TS, and MongoDB</li>
                                        </ul>
                                        

                                    </div>
                                </section>
                                <section>
                                    <header>
                                        <h3>Deloitte Consulting</h3>
                                    </header>
                                    <div class="content">

                                        <header>
                                            <h3>Analyst</h3>
                                            <p>July 2019 - August 2020</p>
                                        </header>
                                        <ul>
                                            <li>Analyzed spend and employee data to develop models yielding $100M in savings</li>
                                            <li>Created vendor contract and spend assessments across many categories and created tools for automatically sending out vendor contract termination notices in Excel and Outlook</li>
                                            <li>Developed eminence materials within the Chemicals industry regarding computational research and development</li>
                                            <li>Served and developed proposals for clients in the top 10 companies of the Life Sciences & Healthcare and Financial Services industries</li>
                                            <li>Planned and lead large-scale client and internal strategy and operations workshops</li>
                                            <li>Managed Procurement and Real Estate workstreams within the Merger & Acquisition and Operations practices</li>
                                        </ul>

                                    </div>
                                </section>
                                <section>
                                    <header>
                                        <h3>Carnegie Mellon University</h3>
                                    </header>
                                    <div class="content">

                                        <header>
                                            <h3>Teaching Assistant</h3>
                                            <p>June 2019 - June 2019</p>
                                        </header>
                                        <ul>
                                            <li>Created hands-on mechanical engineering experiences for high school students with a focus on Design and Manufacturing</li>
                                            <li>Mentored students as they created their own five product designs and taught them how to render their designs for fabrication through engineering sketches and Computer-Aided Design (CAD)</li>
                                            <li>Taught students how to evaluate a design with Computer-Aided Engineering (CAE) and fabricate their products utilizing laser cutters, 3D printers, and hand-held tools</li>
                                        </ul>

                                    </div>
                                </section>
                                <section>
                                    <header>
                                        <h3>Procter & Gamble</h3>
                                    </header>
                                    <div class="content">

                                        <header>
                                            <h3>Product Design Engineer Intern</h3>
                                            <p>May 2018 - August 2018</p>
                                        </header>
                                        <ul>
                                            <li>Developed formulation constraints and computational model regarding perfume to maximize the anti-bacterial benefits of the product beyond current market technology</li>
                                            <li>Performed proof-of-concept experiments with bacteria and computational modeling</li>
                                            <li>Researched the interactions within the product and the current commercial market</li>
                                            <li>Innovated the consumer benefits of the Japanese Febreze Fabric Refresher via formulation engineering</li>
                                        </ul>

                                    </div>
                                </section>
                                <section>
                                    <header>
                                        <h3>Sandia National Laboratories</h3>
                                    </header>
                                    <div class="content">

                                        <header>
                                            <h3>Bioenergy & Defense Engineer Intern</h3>
                                            <p>May 2017 - August 2017</p>
                                        </header>
                                        <ul>
                                            <li>Characterized the unknown mechanism for protocell binding and its core drug delivery by calculating trafficking kinetic metrics</li>
                                            <li>Imaged and analyzed the activity of newly engineered protocells for localized and longer duration drug delivery using hyperspectral imaging and total internal reflection fluorescence (TIRF) microscopy</li>
                                            <li>Collaborated with the University of New Mexico</li>
                                        </ul>

                                        <header>
                                            <h3>Bioenergy & Defense Engineer Intern</h3>
                                            <p>May 2016 - August 2016</p>
                                        </header>
                                        <ul>
                                            <li>Enhanced single-cell analysis and diagnostics for algal, mouse, and human cell lines by providing a significantly larger field of view with increased resolution</li>
                                            <li>Developed a protocol for imaging and editing image analysis Matlab code</li>
                                            <li>Explored the biological applications of digital holography and compared to traditional brightfield and confocal fluorescence microscopies</li>
                                        </ul>

                                    </div>
                                </section>

                        </div>


                    </div>
                </section>
