h1, p {
    color: black
}

.projects-title{
    margin-bottom: 100px !important;
}

.card {
    width: 100%;
    margin: 1rem;
}

.leaf-anne {
    width: 20%;
    float: left;
    margin-right: 1rem;
}

#vw {
    width: 20%;
    margin-top: 1rem;
    margin-left: -9.4rem;
    float: left;
}

p {
    font-size: large;
}

.career {
    /* background-color: black; */
    /* fill-opacity: "10%"; */
    background: rgba(1,1,1,.2)
}