body {
    /* background-image: url("../../assets/leaves.jpg"); */
    /* -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: black; */
}

h1, p {
    color: black
}

.card {
    width: 100%;
    margin: 1rem;
}

.leaf-anne {
    width: 20%;
    float: left;
    margin-right: 1rem;
}

#vw {
    width: 20%;
    margin-top: 1rem;
    margin-left: -9.4rem;
    float: left;
}

p {
    font-size: large;
}

.career {
    /* background-color: black; */
    /* fill-opacity: "10%"; */
    background: rgba(1,1,1,.2)
}